@model IList<MultiFactorProviderModel>

<ul class="method-list" id="mfa-provider-block">
    @foreach (var provider in Model)
    {
        <li>
            <div class="method-name">
                @if (!string.IsNullOrEmpty(provider.LogoUrl))
                {
                    <div class="payment-logo">
                        <label for="provider_@(provider.SystemName)">
                            <img src="@provider.LogoUrl" alt="@provider.Name" />
                        </label>
                    </div>
                }
                <div class="payment-details">
                    <input id="provider_@(provider.SystemName)" type="radio" name="provider_@(provider.SystemName)" value="@(provider.SystemName)" checked="@provider.Selected" />
                    <label for="provider_@(provider.SystemName)">@provider.Name</label>
                    @if (!string.IsNullOrEmpty(provider.Description))
                    {
                        <div class="payment-description">@provider.Description</div>
                    }
                </div>

                <div class="buttons">
                    <input type="button" class="button-2 config-provider-button" onclick="location.href = '@(Url.RouteUrl("CustomerMFAProviderConfig", new { providerSysName = provider.SystemName}))'" value="@T("Common.Edit")"/>
                </div>
                @* view component there *@
                @*<div>
                    @(await Component.InvokeAsync(provider.ViewComponentName)) 
                </div>*@
            </div>
        </li>  
    }
</ul>

