@model Nop.Plugin.MultiFactorAuth.GoogleAuthenticator.Models.AuthModel

<div class="google-authenticator-conteiner">
    
    <div class="qr-code-conteiner">
        <div class="instruction">
            @Html.Raw(T("Plugins.MultiFactorAuth.GoogleAuthenticator.Customer.Instruction"))
        </div>
        <div class="qr-code-image">
            <img src="@(Model.QrCodeImageUrl)" />
        </div>
    </div>
    <div class="manual-code-setup">
        <div class="instruction">
            @Html.Raw(T("Plugins.MultiFactorAuth.GoogleAuthenticator.Customer.InstructionManual"))
        </div>
        <div class="account-info">
            <span>@T("Plugins.MultiFactorAuth.GoogleAuthenticator.Customer.Account") @(Model.Account)</span>
            <span>@T("Plugins.MultiFactorAuth.GoogleAuthenticator.Customer.Key") @(Model.ManualEntryQrCode)</span>
            <span>@T("Plugins.MultiFactorAuth.GoogleAuthenticator.Customer.TypeKey")</span>
        </div>
    </div>

    <form asp-controller="Authentication" asp-action="RegisterGoogleAuthenticator" method="post">
        <div>
            <input asp-for="SecretKey" type="hidden" />
        </div>
        <div class="panel-body">
            <div class="inputs">
                <label asp-for="Code" asp-postfix=":"></label>
                <input asp-for="Code" />
                <span asp-validation-for="Code"></span>
            </div>
            <div class="buttons">
                <input type="submit" value="@T("Plugins.MultiFactorAuth.GoogleAuthenticator.Customer.SendCode")" name="save-info-button" class="button-1 save-customer-info-button" />
            </div>
        </div>
    </form>
</div>
