@model Nop.Plugin.MultiFactorAuth.GoogleAuthenticator.Models.TokenModel

<form asp-controller="Authentication" asp-action="VerifyGoogleAuthenticator" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
     @*<div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>*@
    <div class="inputs">
        <label asp-for="Token" asp-postfix=":"></label>
        <input asp-for="Token" class="username" autofocus="autofocus" />
        <span asp-validation-for="Token"></span>
    </div>
    <div class="form-group">    
        <div class="col-md-9 col-md-offset-3">
            @*<button type="button" id="googleAuthSendCode" class="btn bg-navy">
                @T("Plugins.MultiFactorAuth.GoogleAuthenticator.Customer.SendCode")
            </button>*@
            <div class="buttons">
                <input id="googleAuthSendCode_submit" type="submit" value="@T("Plugins.MultiFactorAuth.GoogleAuthenticator.Customer.SendCode")" name="save-info-button" class="button-1 save-customer-info-button" />
            </div>
        </div>
    
        @*<script asp-location="Footer" type="text/javascript">
            $(document).ready(function () {
                $('#googleAuthSendCode').click(function () {
                    var postData = {
                        verifyToken: $("#@Html.IdFor(model => model.Token)").val()
                    };
                    addAntiForgeryToken(postData);
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "@(Url.Action("VerifyGoogleAuthenticator", "Authentication"))",
                        data: postData,
                        success: function (data) {
                            console.log(data.Result);
                            if (data.Result == false) {
                                location.reload();
                            }
                            else {
                                var customerData = {
                                    customer: data.Customer
                                };
                                console.log(data.Customer);
                                addAntiForgeryToken(customerData);
                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("MultiFactorAuthorization", "Customer"))",
                                    post_data: customerData,
                                    success: function (return_data) {
                                        location.reload();
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        alert('Failed send customer verification in GoogleAuthenticator.');
                                    }
                                });
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert('Failed to login verification in GoogleAuthenticator.');
                        }
                    });
                });
            });
        </script>*@
    </div>
</form>